html,
body {
    font-family: Montserrat, Arial;
    overflow-x: hidden;
}


.feature-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: row;
    background-color: rgb(233, 232, 232);
    height: 500px;
    color: rgb(19, 17, 17);
}

.feature-section h2 {
    animation-name: h2moveup;
    animation-duration: 2.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.feature-section .style {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    padding: 20px 40px;
    width: 230px;
    border-radius: 18px;
    border: 1px solid none;
    background: linear-gradient(90deg, lightpink, lightblue);
    line-height: 23px;
}

.feature-heading {
    white-space: nowrap;
    display: block;
    font-weight: 700;
    word-wrap: break-word;
}

.feature-logos {
    height: 45px;
    position: absolute;
    top: 35px;
}

.feature-text-container {
    margin-top: 70px;
    text-align: center;
}

.feature-description {
    font-size: 15px;
    font-weight: 400;
}

.card1 {
    margin-right: 18px;
    transition: ease-in-out box-shadow 0.3s;
    animation: card1moveright;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.card1:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card2 {
    margin-right: 18px;
    transition: ease-in-out box-shadow 0.3s;
    animation: card2moveup;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.card2:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card3 {
    transition: ease-in-out box-shadow 0.3s;
    animation: card3moveleft;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.card3:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h3 {
    margin: 0;
    font-size: 27px;
    position: absolute;
    animation-name: h3moveup;
    animation-duration: 2.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.review-section {
    z-index: 3;
    height: 700px;
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    align-items: center;
    justify-content: center;
}

h4 {
    font-size: 25px;
    top: 0;
    animation-name: h4moveup;
    animation-duration: 2.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.review {
    color: white;
    font-style: italic;
    height: 100px;
    width: 900px;
    padding: 20px 40px;
    border-left: 2px;
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: #5FA8A1;
    border-radius: 10px;
    white-space: nowrap;
    background: linear-gradient(90deg, #3a6186, #89253e);
    transition: ease-in-out box-shadow 0.3s;
}

.review-text {
    font-weight: 500;
}

.reviewer-name {
    font-weight: 700;
    font-size: 17px;
}

.review1 {
    animation-name: reviewmoveleft;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.review3 {
    animation-name: reviewmoveleft;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.review2 {
    animation-name: review2moveright;
    animation-duration: 2.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.review1:hover,
.review2:hover,
.review3:hover {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
}

.plans-section {
    position: relative;
    height: 650px;
    margin: 0;
    display: flex;
    column-gap: 20px;
    text-align: center;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #8e9eab, #dedfdf);
}

.plans-section h5 {
    white-space: nowrap;
    margin-top: 290px;
    font-size: 35px;
    animation-name: h5moveup;
    animation-duration: 2.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

h5 {
    position: absolute;
    left: auto;
}

.subscription {
    margin-top: 14px;
    margin-bottom: 30px;
}

.subscription-icon {
    margin-top: 28px;
    height: 40px;
}

.plan {
    background: linear-gradient(135deg, #aa4b6b, #6b6b83, #3b8d99);
    color: white;
    font-size: 26px;
    font-weight: 700;
    margin-top: 220px;
    border: 1px solid none;
    height: 400px;
    border-radius: 16px;
    width: 300px;
    transition: ease-in-out box-shadow 0.3s;
}

.plan:hover {
    box-shadow: 0 0 36px rgba(0, 0, 0, 0.4);
}

.plan1 {
    animation-name: plan1moveup;
    animation-duration: 2.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.plan2 {
    animation-name: plan2moveup;
    animation-duration: 2.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

.plan3 {
    animation-name: plan3moveup;
    animation-duration: 2.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
}

.cost {
    font-size: 18px;
    font-weight: 500;
}

.plan-features {
    font-size: 14px;
    font-weight: 400;
}

.subscription-button {
    height: 40px;
    padding: 10px 15px 10px 15px;
    border-radius: 22px;
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 16px;
    /*background: linear-gradient(135deg, #8A2387, #E94057, #ff7e2e);*/
    background: linear-gradient(135deg, #DA4453, #89216B);
    border: none;
    margin-top: 14px;
    transition: ease-in-out opacity 0.3s;
}

.subscription-button:hover {
    opacity: 0.9;
}

@media (max-width: 768px) {


    .feature-section,
    .review-section,
    .plans-section {
        flex-direction: column;
        row-gap: 20px;
        height: auto;
        /* let content decide height */
        width: 100%;
        padding: 20px;
    }

    .feature-section h2 {
        height: auto;
        margin-bottom: 20px;
        text-align: center;
        animation-name: h2moveup;
        animation-duration: 2.5s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }


    .plan,
    .style,
    .review {
        width: 90%;
        /* fit nicely on phone */
        max-width: 400px;
    }
}